{% block carousel %}

<div class="container">
    <ul class="galerie ">
        <li >
            <a href="">
                <img class="sizepict pict" src="{{ asset('pictures/games/legend_of_zelda_the_Goddess_of_Wisdom_usa.png') | imagine_filter('my_thumb') }}" alt="picture 1">
            </a>
        </li>
        <li>
            <a href="">
                <img class="sizepict pict  " src="{{ asset('pictures/games/sonic2.jpg') | imagine_filter('my_thumb')}}" alt="picture 2">
            </a>
        </li>
        <li>
            <a href="">
                <img class="sizepict pict" src="{{ asset('pictures/games/sonic_the_Hedgehog3_usa.png') | imagine_filter('my_thumb')}}" alt="picture 3">
            </a>
        </li>
        <li >
            <a href="">
                <img class="sizepict pict" src="{{ asset('pictures/games/legend_of_zelda_the_Goddess_of_Wisdom_usa.png') | imagine_filter('my_thumb') }}" alt="picture 1">
            </a>
        </li>
        <li>
            <a href="">
                <img class="sizepict pict  " src="{{ asset('pictures/games/sonic2.jpg') | imagine_filter('my_thumb')}}" alt="picture 2">
            </a>
        </li>
        <li>
            <a href="">
                <img class="sizepict pict" src="{{ asset('pictures/games/sonic_the_Hedgehog3_usa.png') | imagine_filter('my_thumb')}}" alt="picture 3">
            </a>
        </li>
    </ul>
</div>
{% endblock %}

